.section-covid {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
  // margin-top: -20vh;
  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
        width: 65%;
    }

    @include respond(tab-port) {
        width: 100%;
    }
  }
}