.section-aboutus {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
  @include respond(phone) {
    padding: 5rem 0;
  }
  // margin-top: -20vh;
}
.section-hero {
  height: 30vh;
  @include respond(phone) {
    height: 20vh;
    clip-path: none;
    -webkit-clip-path: none;
  }
  // background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.3), rgba($color-primary-dark, 0.4));
  background-image: url('/baiyok-banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  // border-bottom: 8px solid $color-grey-light-4;
  // &__logo-box {
  //   position: absolute;
  //   top: 0rem;
  //   left: 50%;
  //   transform: translate(-50%, 0);
  // }

  // &__logo {
  //   height: 25rem;
  // }

  // &__text-box {
  //   position: absolute;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }

  // &__menu {
  //   position: absolute;
  //   top: 91%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}